*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color--primary: #4A90E2;
    --bg--primary: #EAF3FF;
    --bg--secondary: #FFF2DE;
    --bg--yellowish: #ECFFD7;
    --bg--accent: #FFE2E5;
    --my--grey: #ccc;
    --bodytex--color: #333333;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    font-family: 'Sora', sans-serif;
}
ul{
    list-style: none;
}
html{
    color: var(--bodytex--color);
    font-size: 60%;
    font-family: 'poppins', sans-serif; 
    text-align: center;
}
.fa-angle-left, .fa-angle-right{
    color: blue;
}
body::-webkit-scrollbar {
    width: 0.3em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(74, 72, 72);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0.368);
    outline: 1px solid rgba(255, 0, 0, 0.368);
    border-radius: 50px;
  }
a{
    text-decoration: none;
    color: var(--bodytex--color);
    font-family: 'Sora', sans-serif;
    font-size: 1.5rem;
}
.index__header{
    position: relative;
    /* background: url("../img/Frame\ 3.png"); */
    background: var(--bg--primary);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    padding: 1rem;
}
.navbar__responsive{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toglerbtn{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
}
.toglerbtn:hover{
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062);
}
.bar{
    height: 2px;
    width: 100%;
    background: black;
}
.nav__menu--mobile{
    width: 100%;
    margin: 1rem 0 0;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);
    padding: 1rem;
    font-size: 1.5rem;
}
.nav__menu{
    display: none;
}
.nav__menu__list{
    padding: 1rem;
    text-align: center;
}
.nav__menu__list:hover{
    background: gray;
}
.btn{
    font-family: 'Sora', sans-serif;
    width: fit-content;
    border-radius: 5px;
}
.btn--dark{
    background: black;
    color: whitesmoke;
    padding: 1rem;
    border: none;
    outline: none;
}
.btn--primary--framed{
    padding: 1rem 2rem;
    font-size: x-small;
    color: var(--color--primary);
    border: 1px solid var(--my--grey);
    background: none;
    margin: 5rem 0;
    font-weight: bold;
}
.nav__btn{
    margin: 3rem auto;
    width: fit-content;
}
/* hero section  */
.hero__grid{
    padding: 3rem 1rem;
    text-align: center;
}
.btn--primary--filled{
    background: var(--color--primary);
    color: whitesmoke;
    border: none;
    padding: 1.5rem 3rem;
}
.hero__grid__p, .engineers__p {
    line-height: 1.5;
}
@media screen and (min-width: 768px) {
    .hero__grid__p{
        max-width: 50ch;
    }
}
.engineers__p{
    margin: 1rem auto;
}
.hero__btn{
    margin: 3rem 0 0;
    font-size: small;
    font-weight: bold;
}
.hero__grid__image{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 4rem;
}

.hero__grid__image img{
    width: 100%;
    margin: 0;
    padding: 0 ;
}
.hero__greybox{
    height: 40vh;
    width: 100%;
    background: #D9D9D9;
    margin: 2rem 0;
}
.engineers{
    text-align: center;
    margin: 5rem 0;
}
.gap--5rem{
    height: 2rem;
}
/* cards section  */
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.card{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    display: flex;
    color: black;
    overflow: hidden;
}
.cousre__card{
    padding: 1rem 0;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem 0;
    
}
.card--primary{
    background: var(--bg--primary);
}
.card--secondary{
    background: var(--bg--secondary);
}
.card--yellowish{
    background: var(--bg--yellowish);
}
.card--accent{
    background: var(--bg--accent);
}
.circle{
    border-radius: 50%;
    padding: 1rem;
    height: 7rem;
    width: 7rem;
}
.circle--white{
    background: white;
}
.circle--grey{
    background: var(--my--grey);
}

/* section  */

.section__btn{
    margin: 5rem auto;
    width: fit-content;
}

/* plan cards  */
.plan__cards{
    width: 90%;
    margin: 7rem auto;
}
.plan__card{
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 0 2rem;
    margin: 2rem 0;
    line-height: 2;
}
.card__box{
    width: fit-content;
    padding: 2rem;
}
.box--primary{
    background: var(--bg--primary);
}
.box--yellowish{
    background: var(--bg--yellowish);
}
.box--accent{
    background: var(--bg--accent);
}
.box--grey{
    background: #D8D8D8;
}
.card__content{
    padding: 1rem;
}

/* scrollable  */
.employers, .teachers, .students, .faqs, .stories{
    text-align: left;
    padding: 2rem 0;
}
.employers{
    background: var(--bg--primary);
}
.employers > p, .employers > h3,
 .teachers > p, .teachers > h3, 
 .students > p, .students > h3, 
 .faqs > p, .faqs > h3, 
 .stories > p, .stories h3{
    margin: 1rem 5%;
}
.card__testimonials{
    padding: 0;
}
.card__testimonials p{
    padding: 0;
    margin: 0;
}

  .employer__card, .students__card{
    width: 40rem;
    padding: 2rem;
    border: 0;
    margin: 5rem 0;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    align-items: start;
    justify-content: start;
    background: white;
  } 
  .card__footer{
    display: flex;
    gap: 0 2rem;
    align-items: center;
}
.scrollable{
    display: flex;
    flex-direction: row;
    place-items: center;
    overflow-x: scroll;
    line-height: 2em;
    gap: 20px;
    position: relative;
    scroll-behavior: smooth;
}
.scrollable::-webkit-scrollbar{
  width: 0;
  height: 0;
  background-color: transparent;
}
  .profile__circle{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--my--grey);
  }
  .profile__circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.slideLeft, .slideRight{
    border: none;
    font-size: 2em;
    padding: 5px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
    background: none;
    border: 1px solid var(--my--grey);
}
.slider__btns{
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
    justify-content: center;
}
.slideLeft:hover, .slideRight:hover{
    border: 1px solid var(--color--primary);
}



.index__footer{
    background: var(--bg--primary);
    padding: 10rem 0 0;
}
.footer__card{
    max-width: 100%;
    padding: 2rem;
    background: var(--color--primary);
    background-size: 100% 100%;
    color: white;
    margin: 0 auto;
    flex-direction: column;
    box-shadow: none;
    border-radius: 0;
}
body{
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}
.footer__card a{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
.footer__card p{
    line-height: 2;
    margin-top: 1rem;
}
.footer__form{
    width: 100%;
    padding: 5rem 0;
    text-align: left;
    font-size: 1.5rem;
}
.footer__form__inputs{
    margin-bottom: 2rem;
}
.footer__form__inputs input, .footer__form__inputs textarea {
    width: 100%;
    margin: 1rem 0;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 5px;
}
.footer__form__inputs textarea{
    height: 10rem;
}
.btn--deepaccent--filled{
    background: red;
    border: none;
    outline: none;
    padding: 1rem;
    color: white;
}
.footer__btn{
    margin: 0 auto;
    width: 100%;
}
#message{
    max-inline-size: 10;
}


.footer__foot, .footer__foot--grey{
    width: 100%;
    padding: 1rem 2rem;
}
.up{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__menu ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}
.footer__foot .fa-brands,
 .footer__foot--grey .fa-brands{
    padding: 1rem;
    border-radius: 50%;
    margin: 0 5px;
}
.footer__foot .fa-brands{
    color: white;
    background: var(--color--primary);
}
.footer__foot--grey .fa-brands{
    color: black;
    background: grey;
}
.footer__foot .fa-brands:hover{
    transform: scale(1.1);
}
.down, .down--grey{
    margin-top: 1rem;
    padding: 1rem 0;
}
.down{
    border-top: 2px solid var(--my--grey);
}
.down--grey{
    border-top: 1px solid black;
}

.footer__anchors{
    margin: 2rem 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.footer__anchors a:hover{
    text-decoration: underline;
}
  @media screen and (min-width: 1000px) {
     /* plan cards  */
     .plan__cards{
        width: 50%;
    }
    .plan__card{
        flex-direction: row;
        padding: 0 1rem 0 0;
        width: 90%;
    }
    .card__box{
        width: 30%;
        height: 100%;
    }
    .card__content{
        text-align: left;
    }
    .plan__card2{
        margin-left: auto;
 
    }
}

@media screen and (min-width: 768px) {
    .index__header{
        padding:0 0 10rem 0;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 1rem 10%;
    }
    .toglerbtn{
        display: none;
    }
    .nav__menu{
        display: flex;
        gap: 0 1rem;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .nav__btn{
        display: inline;
        margin: 0 0 0 auto;
    }
    .btn--primary{
        align-self: center;
    }

    /* hero section  */
    .hero__grid{
        display: flex;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
        gap: 0;
    }
    .hero__grid__content{
        width: 60%;
    }
    .hero__grid__image{
        width: 40%;
    }
    /* cards section  */
    .cards{
         position: absolute;
        bottom: -7.5em;
    }
    .cousre__card{
        width:15rem;
        height: 15rem;
    }

    /* section  */

    .section__btn{
        margin: 15rem auto;
    }
   

    /* employer  */
    .scrollable--testimonial{
        width: 80%;
        margin: 0 auto;
    }

    .employers > p, .employers > h3,
 .teachers > p, .teachers > h3, 
 .students > p, .students > h3, 
 .faqs > p, .faqs > h3,
 .stories > p, .stories h3{
    margin: 1rem 10%;
}
    /* footer  */
    .footer__card{
        flex-direction: row;
        padding: 5%;
        gap: 2rem;
        width: 70%;
        border-radius: 2rem;
        text-align: left;
    background: url("../img/Frame\ 7.png") 
    }
    .footer__card__content, .footer__form{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0;

    }
    .footer__btn{
        width: auto;
        margin: 0 auto 0 0;
    }
    .footer__foot, .footer__foot--grey{
        width: 70%;
        margin: 5rem auto 0;
    }
    .up{
        flex-direction: row;
        flex-basis: 25%;
        justify-content: space-between;
    }
    .index__header{
        background: url("../img/Frame\ 3.png");
    }
}


/* students page  */


.student__header{
    background: #F0F0F0;
}
.engineers__p--students{
    margin-top: 10rem;
}

.scrollable--teachers{
    margin: 0 auto;
    padding: 2rem 0;
    flex-basis: 15rem;
    flex-grow: 0;
    flex-shrink: 0;
}

.teachers__card{
    max-width: 15rem;
    padding: 2rem;
    border: 0;
    margin: 5rem 0;
    flex-basis: 80%;
    flex-grow: 5;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
}
.teachers__circle{
    height: 10rem;
    width: 10rem;
    background: var(--my--grey);
    align-self: center;
    border-radius: 50%;
}
.teachers__name{
    margin-top: 1rem;
}
.teachers__field{
    color: var(--bodytex--color);
    line-height: 0;
    margin: 1rem 0;
}

.faqs{
    margin-top: 4rem;
}
.faqp1, .faqp2, .faqp3{
    display: none;
}
.expandable__textbox{
    width: 90%;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
    margin: 4rem auto;
}
.expands{
    border-bottom: 1px solid var(--my--grey);
    padding: 2rem;
}
.expands:last-of-type{
    border-bottom: none;
}

.expander{
    display: flex;
    justify-content: space-between;
}
.expander__btn{
    border-radius: 50%;
    padding: 10px;
    background: none;
    border: 1px solid var(--my--grey);
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .expandable__textbox{
        width: 50%;
    }
    .expands{
        padding: 2rem;
    }
    .scrollable--teachers{
        width: 70%;
    }
}

.stories__cards{
    display: flex;
    gap: 2rem;
    width: 90%;
    margin: 3rem auto;
    flex-direction: column;
}
.stories__card{
    width: auto;
    position: relative;
    cursor: pointer;
}
.stories__card:hover> .stories__card__date{
    opacity: 1;
    transition: opacity,  1s ease-in-out;
}
.stories__video{
    object-fit: cover;
    width: 100%;
    filter: grayscale(100);
}
.stories__card__date, .stories__card__text{
    position: absolute;
}
.stories__card__date{
    opacity: 0;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    top: 1rem;
    left: 1rem;
}
.stories__card__text{
    bottom: 1rem;
    left: 1rem;
    color: white;
}

.contact{
    padding: 1rem;
    background: #D8D8D8;
    margin: 5rem auto 0;
    padding: 2rem;
}
.footer--grey{
    background: var(--my--grey);
    padding: 4rem;
}
@media screen and (min-width: 768px) {
    .stories__cards{
        width: 80%;
        height: 30rem;
        padding: 0;
        flex-direction: row;
    }
    .contact{
        width: 50%;
        position: relative;
        z-index: 9999;
        bottom: -5rem;
    }
    .contact form{
        margin: 5rem auto;
        width: 100%;
    }
}
